Adafruit-Blinka==7.0.1
adafruit-circuitpython-framebuf==1.4.9
adafruit-circuitpython-sharpmemorydisplay==1.2.9
Adafruit-PlatformDetect==3.20.0
Adafruit-PureIO==1.1.9
cycler==0.11.0
fonttools==4.29.1
kiwisolver==1.3.2
matplotlib==3.5.1
numpy==1.22.2
packaging==21.3
pandas==1.4.1
Pillow==9.0.1
pyftdi==0.53.3
pyparsing==3.0.7
pyserial==3.5
python-dateutil==2.8.2
pytz==2021.3
pyusb==1.2.1
rpi-ws281x==4.3.2
RPi.GPIO==0.7.1
scipy==1.8.0
six==1.16.0
speedtest-cli==2.1.3
sysv-ipc==1.1.0
